/* Begin: Stuff that I learned via Coursera. */
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 30px ridge;
    background: rgb(218, 113, 113);
    color:rgb(230, 230, 230);
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: rgb(170, 9, 9);
    color:floralwhite;
}

h3 {
    font-weight:bold;
}

img {
    border-radius:45px;
}

a {
    color:rgb(179, 217, 255);
}
