body {
	background-color: #1F618D;
	color: white;
	padding: 10px;
	font-family: Georgia;}
li {
    color:darkgray;
    text-align: left;}

/* ----- Headers ----- */
header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

h1 {
	border: 1px solid Black;
	background-color: #B2BABB;
    color: #1F618D;
	text-align: center;
}

h2 {
	background-color: #922B21;
    font-size: 40px;
    width: 400px;
    margin: 20px;
    border: 1px solid Black;
}

h2, h3, div {
    text-align: center;
	width: 300px; }
p {
	font-size: 80%;
	line-height: 1.4em;
    text-align: left;
	color: rgb(242, 243, 244);
	padding: inherit;}
h2, div {
	background-color: #922B21;
	border: 1px solid Black;
	margin: 10px;}
div.wrapper {
	border: 2px #e7642c;
		width:860px;
}

/* Hyperlinks */
a {
  color:#39c;
  text-decoration:none;
}

section {
  width:800px;
  float: left;
  padding-top: 100px;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}
